:root {
    --col-light-1: #f6f7f9;
    --col-light-2: #dadbd5;
    --col-light-3: #efefff;
    --col-light-blue: #e4f3fd;
    --col-dark-1: #00001f;
    --col-dark-2: #474959;
    --col-accent-blue: #5ac1ff;
    --col-accent-rose: #feb5ff;
    --col-accent-purple: #c1bcff;
}

.accordion {
    --bs-accordion-btn-color: #f6f7f9;
    --bs-accordion-active-bg: transparent;
    --bs-accordion-bg: transparent;
    --bs-accordion-active-color: #474959;
}

body {
    background-color: var(--col-light-1);
    font-family: "Epilogue", sans-serif;
    color: var(--col-dark-1);
}

h1 {
    font-size: 8vw;
}

h2 {
    font-size: 6vw;
}

.col-invert {
    background-color: var(--col-dark-1);
    color: var(--col-light-1);
}

.bg-col-accent-blue {
    background-color: var(--col-accent-blue);
}

.bg-col-accent-rose {
    background-color: var(--col-accent-rose);
}

.bg-col-accent-purple {
    background-color: var(--col-accent-purple);
}

.bg-col-dark-1 {
    background-color: var(--col-dark-1);
}

.bg-col-dark-2 {
    background-color: var(--col-dark-2);
}

.col-dark-2 {
    color: var(--col-dark-2);
}



.h-fix-15 {
    height: 15rem;
}

.left-important {
    left: auto !important;
}

p.shifting-text {
    height: 0;
    transition: height 1s;
    overflow: hidden;
}

.card:hover {
    background-color: var(--col-light-blue);
    p.shifting-text {
        height: 100%;
    }
}

.carousel-control-group {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: end;
}

.carousel-control-group button {
    height: 2rem;
    width: 2rem;
    margin-left: 2rem;
    border-radius: 2rem;
    background-color: var(--col-dark-2);
    color: var(--col-light-1);
    border: none !important;
}

.carousel-control-group button:hover {
    background-color: var(--col-accent-rose);
}

.d-inline {
    display: inline;
}

a.footer-nav-item {
    color: var(--col-light-1);
    text-decoration: none;
}

a.footer-nav-item:hover {
    color: var(--col-light-2);
    border-bottom: 1px solid var(--col-light-2);
}
