:root {
    --col-light-1: #f6f7f9;
    --col-light-2: #dadbd5;
    --col-light-3: #efefff;
    --col-light-blue: #e4f3fd;
    --col-dark-1: #00001f;
    --col-dark-2: #474959;
    --col-accent-blue: #5ac1ff;
    --col-accent-rose: #feb5ff;
    --col-accent-purple: #c1bcff;
    --bs-border-color: var(--col-light-2);
    --bs-heading-color: var(--col-dark-2);
    --bs-btn-border-color: var(--col-dark-2);
}

.modal {
    --bs-modal-bg: var(--col-light-1);
}

.modal-content {
    --bs-modal-color: var(--col-dark-1);
}

.accordion {
    --bs-accordion-btn-color: var(--col-light-1);
    --bs-accordion-active-bg: var(--col-accent-purple);
    --bs-accordion-bg: transparent;
    --bs-accordion-active-color: var(--col-dark-2);
    --bs-accordion-btn-focus-box-shadow: transparent;
}

body {
    background-color: var(--col-light-1);
    font-family: "Epilogue", sans-serif;
    color: var(--col-dark-1);
}

h1 {
    font-size: 8vw;
}

h2 {
    font-size: 6vw;
}

.col-invert {
    background-color: var(--col-dark-1);
    h1, h2, h3, p, a {
        color: var(--col-light-1);
    }
}

.bg-col-accent-blue {
    background-color: var(--col-accent-blue);
}

.bg-col-accent-rose {
    background-color: var(--col-accent-rose);
}

.bg-col-accent-purple {
    background-color: var(--col-accent-purple);
}

.bg-col-dark-1 {
    background-color: var(--col-dark-1);
}

.bg-col-dark-2 {
    background-color: var(--col-dark-2);
}

.col-dark-2 {
    color: var(--col-dark-2);
}

.h-fix-15 {
    height: 15rem;
}

.left-important {
    left: auto !important;
}

p.shifting-text {
    height: 0;
    transition: height 1s;
    overflow: hidden;
}

.input-field {
    background-color: var(--col-light-2);
    border: 1px solid var(--col-dark-2);
}

.btn-accent {
    background-color: var(--col-light-2);
}

.btn-accent:hover {
    background-color: var(--col-accent-blue);
}

.card:hover {
    background-color: var(--col-light-blue);
    p.shifting-text {
        height: 100%;
    }
}

.carousel-control-group {
    display: flex;
    justify-content: center;
}

.carousel-control-group button {
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
    background-color: var(--col-dark-2);
    color: var(--col-light-1);
    border: none !important;
}

.carousel-control-group button:hover {
    background-color: var(--col-accent-blue);
}

.d-inline {
    display: inline;
}

a.footer-nav-item {
    color: var(--col-light-1);
    text-decoration: none;
}

a.footer-nav-item:hover {
    color: var(--col-light-2);
    border-bottom: 1px solid var(--col-light-2);
}

/* SLIDERS OF PARTNERS */
@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
.logos {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
.logos:before {
    left: 0;
    background: linear-gradient(to left, #f6f7f900, var(--col-light-1));
  }
  
.logos:after {
    right: 0;
    background: linear-gradient(to right, #f6f7f900, var(--col-light-1));
  }
  
.logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
.logos-slide {
    display: inline-block;
    animation: 15s slide infinite linear;
  }
  
.logos-slide img {
    height: 5rem;
  }